
html body{
    min-height: 100vh;
    min-width: 100vw;

    height: 100vh;
    width: 100vw;
}

:root{
    --color-bright-orange: hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);
    --color-light-gray: hsl(0, 0%, 95%);
    --color-trans-white: hsla(0, 0%, 100%, 0.75);
}

.bg{
    background-color: var(--color-light-gray);
    height: 130%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    border-radius: .5rem;
    overflow: hidden;    
}

.card h1{
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    color: var(--color-light-gray);
}

.card p{
    font-family: 'Lexend Deca';
    font-weight: 400;
    color: var(--color-trans-white);
    font-size: .7rem;
    line-height:1.3rem;
}

.card > div{
   padding: 2rem 19% 2rem;
}

.card img{
    width: 3rem;
}

button{
    background-color: var(--color-light-gray);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: .7rem;
    border-style: none;
    border-radius: 10rem;
    width: 7rem;
    height: 2rem;
}


.sedan{
    flex: 1 1 auto;
    background-color: var(--color-bright-orange);
        
}

.sedan button{
    color: var(--color-bright-orange);
}


.suv{
    flex: 1 1 auto;
    background-color: var(--color-dark-cyan);
}

.suv button{
    color: var(--color-dark-cyan);
}

.luxury{
    flex: 1 1 auto;
    background-color: var(--color-very-dark-cyan);
}

.luxury button{
    color: var(--color-very-dark-cyan);
}

button:hover{
    background-color: transparent;
    color: var(--color-light-gray);
    outline-style:solid;
    border-color: var(--color-light-gray);
}

@media (min-width: 735px){
    body{
        background-color: var(--color-light-gray);
    }
    .bg{
        height:100%;  

    }   
    .card{
        flex-direction: row;
        min-width: 700px;
        min-height: 400px;
        width: 50%;
        height: 60%;
        font-size: 1.4rem;
    }

    .card p{
   
        font-size: .9rem;
        line-height: 1.7rem;
        font-weight: normal;
    }

    .card > div{
        padding: 2rem 5% 2rem;
     }

     button{
         margin-top: 4rem;
         width: 8rem;
         height: 3rem;
     }
}